atoma==0.0.13
attrs==18.2.0
beautifulsoup4==4.7.0
bleach==3.0.2
blinker==1.4
boto3==1.9.71
botocore==1.12.71
certifi==2018.11.29
chardet==3.0.4
ddtrace==0.19.0
defusedxml==0.5.0
Django==2.1.4
django-allauth==0.38.0
django-bulma==0.5.3.0
django-redis==4.10.0
django-storages==1.7.1
django-xff==1.2.0
html5lib==1.0.1
idna==2.8
msgpack-python==0.5.6
oauthlib==2.1.0
Pillow==5.4.0
psycopg2==2.7.6.1
python3-openid==3.1.0
python-dateutil==2.7.5
python-decouple==3.1
pytz==2018.7
raven==6.10.0
redis==3.0.1
requests==2.21.0
requests-oauthlib==1.0.0
s3transfer==0.1.13
six==1.12.0
spinach==0.0.9
urllib3==1.24.1
waitress==1.1.0
webencodings==0.5.1
whitenoise==4.1.2
wrapt==1.10.11
