{% extends 'bulma/base.html' %}
{% load static %}

{% block title %}FeedPubSub{% endblock %}

{% block css %}
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  {% if user.is_authenticated and user.profile.night_mode %}
    <link rel="stylesheet" href="https://jenil.github.io/bulmaswatch/superhero/bulmaswatch.min.css">
  {% else %}
    <link rel="stylesheet" href="https://jenil.github.io/bulmaswatch/yeti/bulmaswatch.min.css">
  {% endif %}

  <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.min.js" defer></script>
  <script type="text/javascript" src="{% static 'feedpubsub/feedpubsub.js' %}" defer></script>
{% endblock %}

{% block header %}
  <div class="container">
    <nav class="navbar is-transparent">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">
          <img src="http://bulma.io/images/bulma-logo.png" alt="Bulma: a modern CSS framework based on Flexbox"
               width="112" height="28">
        </a>

        <div class="navbar-burger burger" data-target="navMenuExample">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>


      <div id="navMenuExample" class="navbar-menu">
        <div class="navbar-end">

          <a class="navbar-item is-hidden-touch" href="https://github.com/NicolasLM/feedpubsub">
            <span class="icon" style="color: #333;">
              <i class="fab fa-lg fa-github"></i>
            </span>
          </a>


          {% if user.is_authenticated %}

            <div class="navbar-item has-dropdown is-hoverable">
              <a class="navbar-link is-active" href="#">
                {{ user.username | title }}
              </a>
              <div class="navbar-dropdown ">
                <a class="navbar-item" href="{% url 'reader:feed-list' %}">
                  <span class="icon is-medium">
                    <i class="fas fa-lg fa-rss"></i>
                  </span>
                  Feeds
                </a>
                <a class="navbar-item" href="{% url 'reader:settings-account' %}">
                  <span class="icon is-medium">
                    <i class="fas fa-lg fa-cog"></i>
                  </span>
                  Settings
                </a>
                {% if user.is_staff %}
                  <a class="navbar-item" href="{% url 'admin:index' %}">
                    <span class="icon is-medium">
                      <i class="fas fa-lg fa-unlock"></i>
                    </span>
                    Admin panel
                  </a>
                {% endif %}
                <a class="navbar-item" href="{% url 'account_logout' %}">
                  <span class="icon is-medium">
                    <i class="fas fa-lg fa-sign-out-alt"></i>
                  </span>
                  Sign Out
                </a>
              </div>
            </div>

          {% else %}

            <a class="navbar-item" href="{% url 'account_login' %}">
              Sign In
            </a>

          {% endif %}

        </div>
      </div>
    </nav>
  </div>
{% endblock header %}


{% block footer %}
{% endblock footer %}
