{% load humanize reader cache %}


{% for article in articles %}
  <div class="box">

    <div class="columns">
      <div class="column">

        {% if article.uri %}
          <a href="{{ article.uri }}">
            <h2 class="title">{{ article.title }}</h2>
          </a>
        {% else %}
          <h2 class="title">{{ article.title }}</h2>
        {% endif %}

        {% if article.published_at %}
          <span>{{ article.published_at | naturalday | title}}</span>
        {% else %}
          <span>{{ article.created_at | naturalday | title}}</span>
        {% endif %}
        &bull;
        <span><a href="{% url 'reader:feed-detail' article.feed.id %}">{{ article.feed.name }}</a></span>
      </div>

      {% if user.is_authenticated %}
        <div class="column is-narrow">
          <div class="field has-addons">

            <p class="control">
              {% if user.reader_profile in article.stared_by.all %}
                <a class="button is-warning is-selected" data-id="{{ article.id }}" data-type="articles" data-action="unstar">
              {% else %}
                <a class="button" data-id="{{ article.id }}" data-type="articles" data-action="star">
              {% endif %}
                <span class="icon is-small">
                    <i class="far fa-star"></i>
                </span>
              </a>
            </p>

            <p class="control">
              {% if user.reader_profile in article.read_by.all %}
                <a class="button is-success is-selected" data-id="{{ article.id }}" data-type="articles" data-action="unread">
              {% else %}
                <a class="button" data-id="{{ article.id }}" data-type="articles" data-action="read">
              {% endif %}
                <span class="icon is-small">
                    <i class="fas fa-check"></i>
                </span>
              </a>
            </p>

          </div>
        </div>
      {% endif %}

    </div>

    <div class="content">
      {% cache 7200 cleaned_article article.id %}{{ article.content | clean_article:article.feed.uri | safe }}{% endcache %}
    </div>

    {% if article.attachment_set.all %}
      <div>
        <ul>
        {% for attachment in article.attachment_set.all %}
          <li>
            <a href="{{ attachment.uri }}">
              <span class="icon is-medium">
                <i class="fas {{ attachment.simple_type | content_type_to_icon }}"></i>
              </span>
              <span>{{ attachment }}</span>
            </a>
          </li>
        {% endfor %}
        </ul>
      </div>
    {% endif %}

  </div>
{% endfor %}

{% include 'reader/_pagination.html' %}


