{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Feed subscriptions" %}{% endblock %}
{% block content_title %}{% endblock content_title %}

{% block content %}

  <div class="columns">
    <div class="column">
      <h1 class="title">{% trans "Feed subscriptions" %}</h1>
    </div>
    <div class="column is-narrow">
      <a class="button is-link is-pulled-right" href="{% url 'reader:feed-create' %}">
        <span class="icon">
            <i class="fas fa-plus"></i>
        </span>
        <span>{% trans "Add feed" %}</span>
      </a>
    </div>
  </div>

  <table class="table is-striped is-hoverable is-fullwidth">

    <thead>
      <tr>
        <th>Name</th>
        <th>URL</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      {% for feed in object_list %}
        <tr>
          <th><a href="{% url 'reader:feed-detail' feed.id %}">{{ feed.name }}</a></th>
          <td>{{ feed.uri }}</td>
          <td>
            <a class="button is-danger is-small is-outlined" data-id="{{ feed.id }}" data-type="feeds" data-action="unsubscribe">
              <span class="icon is-small">
                  <i class="fas fa-times"></i>
              </span>
              <span>{% trans "Unsubscribe" %}</span>
            </a>
          </td>
        </tr>
      {% endfor %}
    </tbody>

  </table>


{% endblock %}
