{% extends 'base.html' %}
{% load i18n reader %}

{% block title %}{% trans "Feed subscriptions" %}{% endblock %}
{% block content_title %}{% endblock content_title %}

{% block content %}

  <div class="columns">
    <div class="column">
      <h1 class="title">{% trans "Feed subscriptions" %}</h1>
    </div>
    <div class="column is-narrow">
      <a class="button is-info is-outlined" href="{% url 'reader:feed-export' %}">
        <span class="icon">
            <i class="fas fa-upload"></i>
        </span>
        <span>{% trans "Export" %}</span>
      </a>
      <a class="button is-info is-outlined" href="{% url 'reader:feed-import' %}">
        <span class="icon">
            <i class="fas fa-download"></i>
        </span>
        <span>{% trans "Import" %}</span>
      </a>
      <a class="button is-success is-outlined" href="{% url 'reader:feed-create' %}">
        <span class="icon">
            <i class="fas fa-plus"></i>
        </span>
        <span>{% trans "Add feed" %}</span>
      </a>
    </div>
  </div>

  <table class="table is-striped is-hoverable is-fullwidth">

    <thead>
      <tr>
        <th>Name</th>
        <th>Tags</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      {% for subscription in object_list %}
        <tr>
          <th><a href="{% url 'reader:feed-detail' subscription.feed.id %}">{{ subscription.feed.name }}</a></th>
          <td>
            <div class="tags">
              {% for tag in subscription.tags %}
                <span class="tag is-small is-{{ tag | tag_color }}">{{ tag }}</span>
              {% endfor %}
            </div>
          </td>
          <td>
            <a class="button is-danger is-small is-outlined" data-id="{{ subscription.feed.id }}" data-type="feeds" data-action="unsubscribe">
              <span class="icon is-small">
                  <i class="fas fa-times"></i>
              </span>
              <span>{% trans "Unsubscribe" %}</span>
            </a>
          </td>
        </tr>
      {% endfor %}
    </tbody>

  </table>


{% endblock %}
