{% extends 'base.html' %}
{% load i18n %}

{% block hero %}

  <section class="hero is-fullheight">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Feedsubs
        </h1>
        <h2 class="subtitle">
          {% blocktrans %}Open Source RSS feed reader{% endblocktrans %}
        </h2>
        <p>
          {% url 'account_signup' as signup_url %}
          {% blocktrans %}Start using it straight away by <a href="{{ signup_url }}">creating an account</a>.{% endblocktrans %}
        </p>
      </div>
    </div>
  </section>

{% endblock %}
