{% extends 'base.html' %}
{% load i18n humanize %}

{% block content %}

  <div class="columns">
    <div class="column">
      <h1 class="title">Articles</h1>
    </div>
    <div class="column is-narrow">
      <a class="button is-success is-outlined" data-id="" data-type="feeds" data-action="read-all">
        <span class="icon is-small">
            <i class="fas fa-check"></i>
        </span>
        <span>{% trans "Mark as read" %}</span>
      </a>
    </div>
  </div>

  {% include 'reader/_articles.html' %}


{% endblock %}
