{% extends 'base.html' %}
{% load i18n humanize %}

{% block content %}

  {% if articles %}

    <div class="columns">
      <div class="column">
        <h1 class="title">Starred Articles</h1>
      </div>
    </div>

    {% include 'reader/_articles.html' %}

  {% else %}

    <section class="hero is-fullheight">
      <div class="hero-body">
        <div class="container has-text-centered">
          <h1 class="title">
            <span class="icon">
              <i class="fas fa-2x fa-star-half"></i>
            </span>
          </h1>
          <h2 class="subtitle">
            <span>{% trans "No starred articles yet" %}</span>
          </h2>
        </div>
      </div>
    </section>

  {% endif %}


{% endblock %}
